/* Fundo com gradiente para o Gerador de Senhas */
body {
  background: linear-gradient(to right, #1e2a47, #3c4a9b); /* Gradiente suave */
  font-family: 'Oswald', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  animation: fadeInContent 2s ease-out forwards;
}

/* Animação de fade-in para o conteúdo */
@keyframes fadeInContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Caixa de conteúdo principal */
#main-content {
  opacity: 0;
  transition: opacity 1s ease;
  max-width: 500px;
  width: 100%;
  background: #2a3b5f; /* Fundo mais escuro para contraste */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: fadeInContent 1.5s ease-out forwards;
}

/* Cabeçalho da página */
header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  animation: fadeInText 2s ease-out forwards;
}

/* Animação de fade-in para o título */
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo para o campo de senha */
#password {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  background-color: #f0f0f0;
}

/* Estilo para o botão de gerar senha */
#generate-btn {
  background-color: #00d1b2;
  padding: 12px 28px;
  font-size: 1.1em;
  color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}

#generate-btn:hover {
  background-color: #1a9271;
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

/* Rodapé */
footer {
  margin-top: 50px;
  color: #b6c1e0;
  font-size: 0.9em;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 10px 0;
}